/***********
*Commons
************/
body{
    background-color: #DBDBD2;
}

.bell_icon{
    width: 50px;
    height: 50px;
    background-color: white;
    color: #8EDAFC;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

/***********
*background
************/
.back_header{
    height: 100px;
    background-color: #009688;
}
/**************
*Debug
***************/
.debug .side_window{
    height: 400px;
    background-color: gainsboro;
}

.debug .main_window{
    height: 400px;
}

.debug .content{
    height: 500px;
    background-color: gray;
}

/*********
*main
**********/
.container{
    position: relative;
    top: -80px;
}

/**********
*side_header
************/
.side_header,
.main_header{
    background-color: #EAEAEA;
    height: 80px;
}

.side_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.command_my_profile i{
    margin: 0 5px;
    color: #B1B1B1;
}

/**********
*aside
***********/
.notification{
    background-color: #8EDAFC;
    padding: 20px 10px; 
    justify-content: space-around;

}

.notification_text div{
    font-size: 0.9rem;
    font-weight: 600;
}

.notification_text a{
    font-size: 0.8rem;
    color: grey;
}



