body{
    background-color: #DBDBD2;
}

.back_header{
    height: 100px;
    background-color: #009688;
}

.container{
    position: relative;
    top: -80px;
}

.debug .side_window{
    height: 400px;
    background-color: gainsboro;
}

.debug .main_window{
    height: 400px;
}

.side_header,
.main_header{
    background-color: #EAEAEA;
    height: 80px;
}

.debug .content{
    height: 500px;
    background-color: gray;
}

.avatar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.side_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.command_my_profile i{
    margin: 0 5px;
    color: #B1B1B1;
}


