/***********
*Commons
************/
body{
    background-color: #DBDBD2;
}

li{
    list-style: none;
}

.bell_icon{
    width: 50px;
    height: 50px;
    background-color: white;
    color: #8EDAFC;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

/***********
*background
************/
.back_header{
    height: 100px;
    background-color: #009688;
}

/*avatar*/
.avatar{
    display: flex;
    align-items: center;
}

.avatar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.avatar .avatar_name{
    font-weight: 600;
}

.avatar .avatar_log{
    font-size: 13px;
    color: #808080;
}

/**************
*Debug
***************/


/*********
*main
**********/
.container{
    position: relative;
    top: -80px;
}

/**********
*side_header
************/
.side_header,
.main_header,
.main_footer{
    background-color: #EAEAEA;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.command i{
    margin: 0 10px;
    color: #B1B1B1;
}

i:hover{
    cursor: pointer;
}


/**********
*aside
***********/

/*notification*/
.notification{
    background-color: #8EDAFC;
    padding: 20px 10px; 
    justify-content: space-evenly;
    gap: 0.5rem;
}

.notification_text div{
    font-size: 1rem;
    font-weight: 600;
}

.notification_text a{
    font-size: 0.8rem;
    color: grey;
}

/*search_contact*/
.search_contact{
    padding: 10px;
    background-color: #FAFAFA;
}
.search_contact input{
    border: none;
    width: 100%;
    height: 40px;

}

.search_contact input:focus-visible{
    outline: none;
}

.search_contact input::placeholder{
    font-size: 15px;
}

.search{
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: #B1B1B1;
}

/*contacts*/
.contacts{
    background-color: white;
    overflow-y: scroll;
    display: flex;
    min-height: 200px;
    max-height: 680px;
    flex-direction: column;
    height: calc(100vh - 268px);
}


.contact{
    border-bottom: 1px solid #FAFAFA;
    cursor: pointer;
}

.contact:hover{
    background-color: #EAEAEA;
}

.data_message.by_contact{
    margin-left: auto;
}

.text_message.by_contact{
    font-size: 13px;
    color: #B1B1B1;
}

/*main_window*/
.chat{
    background-image: url('../img/mine.jpg');
    height: calc(100vh - 198px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 270px;
    max-height: 750px;
}

.message{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.message_sent{
    align-self: flex-end;
    border-radius: 0.5rem;
    background-color: #D5F9BA;
    padding: 13px;
    position: relative;
}

.message_received{
    align-self: flex-start;
    border-radius: 0.5rem;
    background-color: white;
    padding: 13px;
    position: relative;

}

.message_received:hover .menu_icon,
.message_sent:hover .menu_icon{
    display: block;
    cursor: pointer;
}

.data_message{
    font-size: 10px;
    color: #B1B1B1;
    text-align: end;
}

.message_sent .menu_icon,
.message_received .menu_icon{
    position: absolute;
    z-index: 1;
    top: 0;
    color: #808080;
    display: none;
}

.message_received .menu_icon{
    left: 10px;
}

.message_sent .menu_icon{
    right: 10px;
}
    


.message_menu{
    display: none;
}

.message_received .message_menu,
.message_sent .message_menu{
    position: absolute;
    background-color: white;
    width: 180px;
    z-index: 1;
    text-align: center;
    top: 1.1rem;
}

.message_sent .message_menu{
    right: 1rem;
}

.message_received .message_menu{
    left: 1rem;
}


.message_sent .message_menu div:hover,
.message_received .message_menu div:hover{
    background-color: #EAEAEA;
    cursor: pointer;
}

.message_menu.active{
    display: block;
}

.delete_message,
.info_message{
    padding: 10px;
}

/*main_footer*/
.main_footer{
    gap: 20px;
}

.main_footer i{
    color: #6B7376;
}

.write_message input{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    padding: 0 20px;
}

.main_footer i:hover{
    color: #54aa22;
}
